body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #FFFFFF; /* Verde escuro para o cabeçalho */
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header h1 {
    float: left;
    display: inline;
}

header nav {
    float: right;
    margin-top: 10px;
}

#descricao {
    padding: 40px;
    background: #fff; /* Fundo preto para seções principais */
    margin-top: 20px;
    border-radius: 5px; 
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #53A81B; /* Verde escuro para o rodapé */
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
}
@ media (max-width: 400px) {
    div {
     background: blue;
    }
   }
   