body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f7f3; /* Verde claro para o fundo */
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #2c662d; /* Verde escuro para o cabeçalho */
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #1e471f 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header h1 {
    float: left;
    display: inline;
}

header nav {
    float: right;
    margin-top: 10px;
}

#descricao,
#caracteristicas,
#comprar {
    padding: 20px;
    background:  #1E1E1E;/* Fundo branco para seções principais */
    margin-top: 20px;
    border-radius: 5px;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #53A81B; 
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
}
